@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #e3b371 27.26%, #e3b371 96.03%);
  font-family: "Inconsolata", monospace;
}

/*CONTAINER: FUNDO BRANCO*/
.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

/*bitao foi para o canto da tela*/
.cabeçalho {
  display: flex;
  justify-content: space-between;
}

/*Foto no canto e texto na direita*/
.perfil {
  display: flex;
}

/*Tamanho da foto*/
.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Titulo mais para esquerda*/
.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

/*Projetos que fiz durante o curso*/
.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #f6a37c 27.49%, #f6a37c 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

/*Redessociais*/
.containerRedes {
  display: flex;
  flex-direction: column;
}

.projeto-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

/*As bolinhas do lado das palavras foram tiradas*/
.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}

/*As bolinhas do lado das palavras foram tiradas redes*/
.projetos-item2 {
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/*Tam na font e cor */
.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

/*Tam na font e cor */
.projetos-item2 a {
  color: #1c1c1c;
  text-decoration: none;
}

/*Fundo troca de cor*/
.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

/*Troca a cor de dentro da tela*/
.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .rojetos {
  background: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  cplor: #FFFFF;
  border: 2px solid #f7f7f7;
}